@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

.body {
    background-color: black;
    display: flex;
    padding-right: 20px;
    min-height: 135vh;
}

.right {
    width: 37vw;
    max-height: 100vh;
    max-width: 40vw;
    height: 80vh;
    padding-top: 5vh;
    display: grid;
    gap: 3vw;
    grid-template-columns: repeat(3, 1fr);
}

.left {
    width: 45vw;
    height: 100vh;
    padding-top: 10vh;
    text-align: center;
    padding-left: 5vw;
    box-sizing: border-box;
}

.heading {
    font-family: "Single Day";
    color: #72DB73;
    font-family: "Single Day";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 139.688%;
    margin-left: -400px;
}

.subHeading {
    font-size: 4rem;
    text-align: left;
    margin-top: 4vh;
    color: #FFF;
    font-family: Roboto;
    /* font-size: 61px; */
    font-style: normal;
    font-weight: 700;
    line-height: 139.688%; /* 94.988px */
}

.signUp {
    color: white;
    background: green;
    border-radius: 12px;
    border: none;
    padding: 12px;
    height: 50px;
    width: 10%;
    position: relative;
    top: 115vh;
}

.error {
    color: red;
    font-size: 12px;
}

#cross {
    color: #085C00;
    border: none;
    outline: none;
    background-color: #148A08;
    cursor: pointer;
    margin-left: 15px;
    font-size: 1rem;
}